#sidebar{
width: 100px;
height: 191px; 
background-color: aqua;  
float: left; 
border:1pt solid black;
margin: 0px 0px 0px 0px;
}
header{
width: 392px;   
height: 50px;    
background-color: aqua;  
float: left;
border:1pt solid black;
margin: 0px 0px 0px 10px;
}
article{
width: 190px;
height: 129px; 
background-color: aqua; 
float: left; 
border:1pt solid black;
margin: 10px 0px 10px 10px;
}
#picture{
width: 190px;
height: 129px;     
background-color: aqua;  
float: left;
border:1pt solid black;
margin: 10px 0px 10px 10px;
}
footer{
width: 504px;
height: 50px;     
background-color: aqua;  
clear: both;
border:1pt solid black;
margin: 0px 0px 0px 0px;
}
#wrapper{
width: 520px;
background-color: #dddddd;    
border:1pt solid black;
}