img.floatLeft{
    float:left;
    margin:10px;    
    }


    img.floatRight{
    float:right;
    margin:10px;    
    }
    
    body {
    background-color: lightgreen;
    }

    h1 {
    color: white;
    text-align: center;
    }
    h2 {
    color: firebrick;
    text-align: left;
    }

    p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    }

    ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    }

    b {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    }
    div{
        background-color: darkslategrey;    
    }