@media screen and (max-width: 375px){
    #imageLeft{
        display: none;
    }
    
    #imageRight{
        display: none;
    }
    
    #imageLeftPage2{
        display: none;
    }
    #imageRightPage2{
        display: none;
    }

    #start, #firstText,#secondText,#secondText iframe,footer p{
        margin-top: 20px;
        margin-bottom: 20px;
        clear: both;
        margin-left:0;
        width: 337px;
    }
    #secondText iframe{
        width: 300px
    }

    /*TABEL IINSTELLINGEN*/
    #karakters{
        margin-left: 0;
        width: 320px;
    }

    #karakters table{
        margin-left: 0;
        width: 310px;
        
    }

    #karakters table td,th{
        padding-left:0;
        font-size: 10pt;
    }
    
    
    #foto1,#foto2,#foto3,#foto4,#foto5,#foto6{
        width: 50px;
        height: 50px;;
    }
    footer p{
        font-size: 7pt;
    }
}