@media screen and (max-width: 1000px){
    #wrapperIndex,#wrapperSub{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    #imageLeft{
        display: none;
    }
    
    #imageRight{
        display: none;
    }
    
    #imageLeftPage2{
        display: none;
    }
    #imageRightPage2{
        display: none;
    }

    #start img{
        padding: 10px 0 10px 0;    
    }
    #start, #firstText,#secondText,footer p{
        margin-top: 20px;
        margin-bottom: 20px;
        clear: both;
        margin-left:0;
        width:100%;
        padding: 20px 0 20px 0;
    }
    #secondText iframe{
        width: 80%;
    }

    /*TABEL IINSTELLINGEN*/
    #karakters{
        margin-left: 0;
        width: 100%;
        height: 100%;
        padding: 0;

    }

    #karakters table{
        margin: auto;
        padding: 0;
    }

    #karakters table td,#karakters table th{
        padding-left: 0;
        font-size: 60%;
    }
    
    
    #foto1, #foto2,  #foto3,  #foto4,  #foto5, #foto6{
        width: 30%;
        height: 80px;
    }

    footer p{
        font-size: 50%;
    }
}