@media screen and (max-width: 1080px){
    #imageLeft{
        display: none;
    }
    
    #imageRight{
        display: none;
    }
    
    #imageLeftPage2{
        display: none;
    }
    #imageRightPage2{
        display: none;
    }
}